* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.home-content {
  margin-top: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 200vh; /* Skroll bo'lishi uchun */
}

.spacer {
  margin-top: 100px;
  text-align: center;
  color: #444;
}